<div class="dropdown">
	<button class="dropbtn">Dropdown</button>
	<div class="dropdown-content">
		<a href="/add-product">Add new Product</a>
		<a href="/check-products">Check all products</a>
	</div>
</div>	