{{>header}}
<form action="/add-product" method="POST">
<div>
<input type="text" name="productName" placeholder="Name of the product">
</div>
<div>
<input type="text" name="productPrice" placeholder="Price of the product">
</div>
<div>
<input type="text" name="productImageUrl" placeholder="Image url...">
</div>
<div>
<textarea name="productDescription" placeholder="Description about the product"></textarea>
</div>
<div>
<textarea name="productAdditionalInfo" placeholder="additional information here..."></textarea>
</div>
</form>


{{>footer}}